<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于才宝</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        var pageWidth = window.innerWidth
        document.write('<style>html{font-size:' + pageWidth / 10 + 'px;}</style>')
    </script>
</head>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/about.css">

<body>
    <header id="topNavBar">
        <div class="logoWrap">
            <img src="../img/index/logo.png" alt="logo" class="logoImg fl">
            <img src="../img/index/more_menu_icon.png" alt="open" class="openNav fr">
            <img src="../img/index/shut_menu_icon.png" alt="close" class="closeNav fr">
        </div>
        <ul class="menu">
            <li class="item"><a class="link" href="./index.html">首页</a></li>
            <li class="item active"><a class="link" href="./about.html">关于才宝</a></li>
            <li class="item"><a class="link" href="./product.html">产品及解决方案</a></li>
            <li class="item"><a class="link" href="./case.html">典型案例</a></li>
            <li class="item"><a class="link" href="./cooperation.html">合作共赢</a></li>
            <li class="item"><a class="link" href="./download.html">在线下载</a></li>
        </ul>
    </header>
    <main>
        <div id="scrollTop" class="scrollTop">
        </div>
        <div class="banner">
            <p class="title">关于才宝</p>
        </div>
        <div class="introduction" id="introduction">
            <p>深圳财富万方信息技术有限公司</p>
            <p>专注于“互联网+教育”、大数据、云计算产品研发的高科技企业</p>
            <p>才宝教育是一家专注于“互联网+教育”、大数据、云计算产品研发的高科技企业。公司总部位于深圳，在山东建设有才宝教育全国运营中心。公司怀着“实现公平而有质量的教育”的目标，依托领先的技术和持续的创新精神，为K12阶段的学校、教师、学生、家长，提供更为高效、美好的产品和体验。通过“大众创新、人人分享”的模式创造新经济，打造互联网+教育领域的产业生态链，建设“人人皆学、处处能学、时时可学”
                的学习型社会。</p>
        </div>
        <div class="honor" id="honor">
            <p class="title">资质荣誉</p>
            <div class="item">
                <img class="certificateImg smallImg" src="../img/about/aptitude_p1.png" alt="">
                <p>软件企业证书</p>
            </div>
            <div class="item">
                <img class="certificateImg smallImg" src="../img/about/aptitude_p2.png" alt="">
                <p>软件产品证书</p>
            </div>
            <div class="item">
                <img class="certificateImg smallImg" src="../img/about/aptitude_p3.png" alt="">
                <p>软件产品证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p4.png" alt="">
                <p>发明专利证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p5.png" alt="">
                <p>发明专利证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p6.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p7.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p8.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p9.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p10.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p11.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p12.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p13.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p14.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
            <div class="item">
                <img class="certificateImg" src="../img/about/aptitude_p15.png" alt="">
                <p>计算机软件著作权登记证书</p>
            </div>
        </div>
        <div class="history" id="history">
            <p class="title">公司大事记</p>
            <img src="../img/about/company_memorabilia.png" alt="">
        </div>
    </main>
    <footer>
        <div class="companyInfo">
            <p></i> 全国统一客服热线</p>
            <p>0633-2296691</p>
            <p>客服QQ群：239442186</p>
            <p>（周一至周六 07：30-21：00）</p>
            <p>才宝· 中国分布城市</p>
            <p><i class="local"></i>中国 · 深圳 · 总部</p>
            <p>地址：深圳市福田区南园路68号上步大厦11楼B、C、D</p>
            <p><i class="local"></i>中国 · 山东· 分公司</p>
            <p>地址：山东省日照市东港区高新六路高新区创业中心1#研发楼12楼
            </p>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
    //打开关闭导航
    $(".openNav").click(function () {
        $(".openNav").hide(2500)
        $(".closeNav").show(2500)
        $(".menu").toggle(2500)
    });
    $(".closeNav").click(function () {
        $(".closeNav").hide(2500)
        $(".openNav").show(2500)
        $(".menu").toggle(2500)
    })

    //滚动至顶部

    window.onload = function () {
        var btn = document.getElementById("scrollTop");
        var timer = null;
        var oScroll = true;
        //滚动条事件,触发时清空定时器
        window.onscroll = function () {
            if (!oScroll) {
                clearInterval(timer);
            }
            oScroll = false;
        }
        btn.onclick = function () {
            //加入定时器让他又快到慢滚动到顶部
            timer = setInterval(function () {
                //获取当前scrollTop的高度位置（兼容ie和chrom浏览器）
                var oTop = document.documentElement.scrollTop || document.body.scrollTop;
                //设置速度由快到慢
                var ispeed = Math.floor(-oTop / 7);
                document.documentElement.scrollTop = document.body.scrollTop = oTop + ispeed;
                oScroll = true;
                if (oTop == 0) {
                    clearInterval(timer);
                }
            }, 30);
        }
    }
</script>

</html>