<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <title>才宝教育</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script>
        var pageWidth = window.innerWidth
        document.write('<style>html{font-size:' + pageWidth / 10 + 'px;}</style>')
    </script>
</head>

<body>
    <header id="topNavBar">
        <div class="logoWrap">
            <img src="../img/index/logo.png" alt="logo" class="logoImg fl">
            <img src="../img/index/more_menu_icon.png" alt="open" class="openNav fr">
            <img src="../img/index/shut_menu_icon.png" alt="close" class="closeNav fr">
        </div>
        <ul class="menu">
            <li class="item active"><a class="link" href="./index.html">首页</a></li>
            <li class="item"><a class="link" href="./about.html">关于才宝</a></li>
            <li class="item"><a class="link" href="./product.html">产品及解决方案</a></li>
            <li class="item"><a class="link" href="./case.html">典型案例</a></li>
            <li class="item"><a class="link" href="./cooperation.html">合作共赢</a></li>
            <li class="item"><a class="link" href="./download.html">在线下载</a></li>
        </ul>
    </header>
    <main>
        <div id="scrollTop" class="scrollTop">
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../img/index/home_banner_p1.png" alt="">
                        <a href="./about.html">
                            <div class="clickMore1">点击查看</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/index/home_banner_p2.jpg" alt="">
                        <a href="./product.html" style="right: 26%;top: 66%;">
                            <div class="clickMore2">点击进入</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/index/home_banner_p3.png" alt="">
                        <a href="./case.html" style="color: #0080ff;top: 68%;right: 17%;">
                            <div class="clickMore3">查看详情</div>
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <ul>
            <li>
                <p class="title">全自动录播系统</p>
                <p>才宝全自动录播系统安装便捷，操作简单，实时采集教师、学生摄像机及VGA信号，后台静默编码生成视频文件，不影响正常的上课活动；系统支持三分屏自动录课模式，主画面镜头随师生活动情景实时跟踪、自动切换；亦可人工干预切换主画面或进行电影模式录制。保存的视频自带剪辑工具，可预览、剪辑，一站式完成，即录即传。
                </p>
                <a href="./system.html?targetid=1" class="seeMore">查看更多</a>
                <img src="../img/index/full_automatic_recording.png" alt="全自动录播系统">
            </li>
            <li>
                <p class="title">同步课堂系统</p>
                <p>才宝同步课堂系统通过互联网，可与本区域网络教研中心、学校进行同步互动，主讲人跟远程学员实时问答，两端学员亦可在线交流讨论。实现了远程音视频交互的全过程录播，包括主讲端及听课端画面的录制和直播，利于优质资源的共享使用。
                </p>
                <a href="./system.html?targetid=2" class="seeMore">查看更多</a>
                <img src="../img/index/synchronous_classroom.png" alt="同步课堂系统">
            </li>
            <li>
                <p class="title">直播课堂系统</p>
                <p>才宝直播课堂系统能够把教师课堂的板书、讲解、学生活动情景实况播出，授课教师一人即可切换任一画面，无需导播。通过联网，在区域云平台、pc端、移动端上均可收看。该系统多用于网络培训、学术报告、专题讲座、学校公开课、区域名师课等直播活动。
                </p>
                <a href="./system.html?targetid=3" class="seeMore">查看更多</a>
                <img src="../img/index/live_classroom.png" alt="直播课堂系统">
            </li>
            <li>
                <p class="title">校园电视台系统</p>
                <p>才宝校园电视台系统可进行实际背景校园电台直播，可对现场、讲解内容遥控切换，无需他人导播，通过互联网，在学校平台、pc端、手机即可收看。该系统多用于空中课堂、培训讲座、专题报告、学校活动、家长会等活动。
                </p>
                <a href="./system.html?targetid=4" class="seeMore">查看更多</a>
                <img src="../img/index/campus_TV.png" alt="校园电视台系统">
            </li>
            <li>
                <p class="title">视频会议系统</p>
                <p>才宝视频会议系统使用了多点互动功能：利用在线直播技术、webrtc在线语音视频聊天技术，实现的多终端同时在线互动功能，可以支持多个终端同时在线互动。多信源音视频混合编码，采集现场多路音视频源，一个终端在和讲课方互动的同时，其他终端也能实时观看整个互动过程。该系统多用于教学研究、党员培训、知识讲座、专题会议、区县校长会等活动。
                </p>
                <a href="./system.html?targetid=5" class="seeMore">查看更多</a>
                <img src="../img/index/videoconferencing.png" alt="视频会议系统">
            </li>
            <li>
                <p class="title">区域教育云平台</p>
                <p>区域教育云平台的基本起点是人人通，要把所有相关的设备、课堂和人连起来，人人互联互动。在功能设计上要实现完备的业务系统，以“七横六纵”来概括，即横向实现市、区县、学校、班级、学生、家长、社会一体化；纵向至少包括教育管理、教学科研、课堂教学、教育创新、家庭教育、数字经济六条线。是将云计算、大数据、互联网等信息技术与教育教学深度融合的智慧教育云平台。
                </p>
                <a href="./system.html?targetid=6" class="seeMore">查看更多</a>
                <img src="../img/index/Regional_education_cloud.png" alt="区域教育云平台">
            </li>
        </ul>
    </main>
    <footer>
        <div class="companyInfo">
            <p></i> 全国统一客服热线</p>
            <p>0633-2296691</p>
            <p>客服QQ群：239442186</p>
            <p>（周一至周六 07：30-21：00）</p>
            <p>才宝· 中国分布城市</p>
            <p><i class="local"></i>中国 · 深圳 · 总部</p>
            <p>地址：深圳市福田区南园路68号上步大厦11楼B、C、D</p>
            <p><i class="local"></i>中国 · 山东· 分公司</p>
            <p>地址：山东省日照市东港区高新六路高新区创业中心1#研发楼12楼
            </p>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        speed: 300,
        autoplay: {
            delay: 4000
        },

    });
    window.onresize = function () {
        swiper.update();
    }
</script>

<script>
    //打开关闭导航
    $(".openNav").click(function () {
        $(".openNav").hide(2500)
        $(".closeNav").show(2500)
        $(".menu").toggle(2500)
    });
    $(".closeNav").click(function () {
        $(".closeNav").hide(2500)
        $(".openNav").show(2500)
        $(".menu").toggle(2500)
    })

    //滚动至顶部
    window.onload = function () {
        var btn = document.getElementById("scrollTop");
        var timer = null;
        var oScroll = true;
        //滚动条事件,触发时清空定时器
        window.onscroll = function () {
            if (!oScroll) {
                clearInterval(timer);
            }
            oScroll = false;
        }
        btn.onclick = function () {
            //加入定时器让他又快到慢滚动到顶部
            timer = setInterval(function () {
                //获取当前scrollTop的高度位置（兼容ie和chrom浏览器）
                var oTop = document.documentElement.scrollTop || document.body.scrollTop;
                //设置速度由快到慢
                var ispeed = Math.floor(-oTop / 7);
                document.documentElement.scrollTop = document.body.scrollTop = oTop + ispeed;
                oScroll = true;
                if (oTop == 0) {
                    clearInterval(timer);
                }
            }, 30);
        }
    }
</script>

</html>