<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品及解决方案</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product.css">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        var pageWidth = window.innerWidth
        document.write('<style>html{font-size:' + pageWidth / 10 + 'px;}</style>')
    </script>
</head>
<style>
</style>

<body>
    <header id="topNavBar">
        <div class="logoWrap">
            <img src="../img/index/logo.png" alt="logo" class="logoImg fl">
            <img src="../img/index/more_menu_icon.png" alt="open" class="openNav fr">
            <img src="../img/index/shut_menu_icon.png" alt="close" class="closeNav fr">
        </div>
        <ul class="menu">
            <li class="item"><a class="link" href="./index.html">首页</a></li>
            <li class="item"><a class="link" href="./about.html">关于才宝</a></li>
            <li class="item active"><a class="link" href="./product.html">产品及解决方案</a></li>
            <li class="item"><a class="link" href="./case.html">典型案例</a></li>
            <li class="item"><a class="link" href="./cooperation.html">合作共赢</a></li>
            <li class="item"><a class="link" href="./download.html">在线下载</a></li>
        </ul>
    </header>
    <main>
        <div id="scrollTop" class="scrollTop">
        </div>
        <div class="banner">
            <div class="title">
                <p>产品及解决方案</p>
            </div>
        </div>
        <div class="content">
            <div class="mode" id="mode">
                <div class="background">
                    <p class="title">才宝教育信息化模式概述</p>
                </div>
                <div class="text">
                    <p>党的十八大以来，信息成为国家战略，教育信息化正迎来重大历史发展机遇。</p>
                    <p>习近平主席关于“积极推动信息技术与教育融合创新发展”，“通过教育信息化，逐步缩小区域、城乡数字差距，大力促进教育公平，让亿万孩子
                        同在蓝天下共享优质教育、通过知识改变命运”的论述指明了教育信息化今后工作的目标、方向和途径。
                    </p>
                    <p>
                        在基础教育领域，信息化推动教育现代化要解决两个难题，实现三个创新。
                    </p>
                    <p> 两个难题是：教育公平、个性化教育。三个创新是：课堂教学创新、教学科研创新、教育管理创新。
                    </p>
                    <p> 才宝教育立足一线教育主管单位、学校、师生和家长实际需求，以国家和教育部最新政策文件为指导方针，同时结合互联网+技术和发展趋势，自主研发基于硬件、软件及平台应用的区域教育信息化整体解决方案。国内首创以“教育云平台+录播系统+应用终端”的模式，把软件和硬件相结合，通过互联网连接所有师生，连接所有学校和教室，连接所有智能设备；录制一切音视频，录入一切教育教学资料，汇聚融合，互联互动，传播到所有学校和课堂，传播到所有用户；广泛应用于线上、线下所有教学、教研、管理活动。
                    </p>
                </div>
            </div>
            <div class="videoSystem" id="videoSystem">

                <div class="titleWrap">
                    <i></i>
                    <p class="title">高清录播系统</p>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=1">
                        <img src="../img/product/01-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=2">
                        <img src="../img/product/02-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=3">
                        <img src="../img/product/03-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=4">
                        <img src="../img/product/04-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=5">
                        <img src="../img/product/05-system.png " alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=6">
                        <img src="../img/product/06-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=7">
                        <img src="../img/product/07-system.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="./system.html?targetid=7">
                        <img src="../img/product/07-system.png" alt="">
                    </a>
                </div>
            </div>
            <div class="system" id="system">
                <div class="titleWrap">
                    <i></i>
                    <p class="title">平台与应用</p>
                </div>
                <ul class="systemNav">
                    <li class="active" data-id="1" id="eduYun"><i></i> 区域教育云平台</li>
                    <li data-id="2"><i></i>数字校园平台</li>
                    <li data-id="3"><i></i>网络教研</li>
                </ul>
                <div class="content-first">
                    <p>
                        才宝区域教育云分为市级教育云和区县级教育云平台，实现市、区县、学校、班级和师生五级互联互动，是按照地区教育特色建设的综合的信息化系统，提高教育质量，全面解决区域教育公平和质量问题。
                    </p>
                    <p>
                        区域教育云平台的基本起点是人人通，要把所有相关的设备、课堂和人连起来，人人互联互动。在功能设计上要实现完备的业务系统，以“七横六纵”来概括，即横向实现市、区县、学校、班级、学生、家长、社会一体化；纵向至少包括教育管理、教学科研、课堂教学、教育创新、家庭教育、数字经济六条线。是将云计算、大数据、互联网等信息技术与教育教学深度融合的智慧教育云平台。
                    </p>
                    <p>
                        教育教学活动中伴随式制造资源，通过三层空间汇聚，经过三级平台筛选，利用活动评优，区域优质资源库建设可持续、高效率，实现教育资源“人人创造、人人共享”。
                    </p>
                    <img src="../img/product/背景03.png" alt="">
                </div>
                <div class="content-second" style="display: none">
                    <p>
                        才宝数字校园平台借用计算机和网络技术，实现网上办公、教学、科研、管理、存储和传输资源，使广大师生在任意时间、任意地点、任意方式都能工作、学习和访问，其强大的管理后台还能使学校自主设计个性化管理与栏目内容。同时实现市、区县、学校三级教研互动、课堂评价、资源共享和学校内部的部门、教师、班级、工作分工等管理。以创新教学为主的教学应用，具有多种沟通交流方式的家校共育，实现多种特色的教师、班级、学生空间的应用，大力推进知识教育向素质教育的转变。
                    </p>

                    <img src="../img/product/背景06.png" alt="">
                </div>
                <div class="content-thrid" style="display: none">
                    <p>
                        网络教研以录播教室和云平台为基础，在云平台实现课堂情景再现，进而支持以网络为基础的在线教研、协同教研等应用，实现不同学校教师同时参与教研活动的目标。
                    </p>
                    <p>
                        （1）协作组应用</p>
                    <p>
                        教师在自己的空间建立，可以指定人员、邀请人员或自由加入，按工作分工，学校管理者和教师可以组建年级、班级、学生管理，教学、科研、集体备课、学科教研、在线辅导、互助学习等等各种协作组。组长发布公告、安排工作、提出要求，组员通过PC和手机就可收到消息，组内成员人人都可以按分类、工作内容制作上传视频、写文章等，共同在组内开展研讨、学习活动，极大地提高了教学管理和科研效率。
                    </p>
                    <img class="img-1" src="../img/product/背景07.png" alt="">
                    <p>
                        （2）网上听评课
                    </p>
                    <p>
                        网上听评课系统，学校创建评课活动，被指定参加活动的教师即可收到消息通知，上传视频后，评委在规定时间内，任何地点任意时候都可看课、写评语、打分数，系统会对评课记录、成绩和名次自动做出统计，省时省力又高效，是真正公正、科学评价课堂教学的最佳方式。
                    </p>
                    <p>
                        该系统功能实现三级评课（市、区县、学校）互联互通，可以在网上任选人员评课，评委足不出户就可以深入学校、深入班级，如临其境、如见其人的看课、评课。这对每年一度的“一师一优课、一课一名师”评选活动，节约了大量的人力物力。
                    </p>
                    <img src="../img/product/背景08.png" alt="">
                </div>
            </div>
            <div class="app" id="app">
                <div class="titleWrap">
                    <i></i>
                    <p class="title">终端应用系统</p>
                </div>
                <div class="imgWrap">
                    <img class="img-1" src="../img/product/背景04.png" alt="">
                    <img class="img-2" src="../img/product/背景05.png" alt="">
                </div>
                <p>为方便师生互动、指导学习，做到教师和学生共同成长，电脑、手机端应用，实现群组通信、文件通知、电子作业、微课点播、个人空间、自主学习、网络直播等。</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="companyInfo">
            <p></i> 全国统一客服热线</p>
            <p>0633-2296691</p>
            <p>客服QQ群：239442186</p>
            <p>（周一至周六 07：30-21：00）</p>
            <p>才宝· 中国分布城市</p>
            <p><i class="local"></i>中国 · 深圳 · 总部</p>
            <p>地址：深圳市福田区南园路68号上步大厦11楼B、C、D</p>
            <p><i class="local"></i>中国 · 山东· 分公司</p>
            <p>地址：山东省日照市东港区高新六路高新区创业中心1#研发楼12楼
            </p>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
    //打开关闭导航
    $(".openNav").click(function () {
        $(".openNav").hide(2500)
        $(".closeNav").show(2500)
        $(".menu").toggle(2500)
    });
    $(".closeNav").click(function () {
        $(".closeNav").hide(2500)
        $(".openNav").show(2500)
        $(".menu").toggle(2500)
    })

    //滚动至顶部

    window.onload = function () {
        var btn = document.getElementById("scrollTop");
        var timer = null;
        var oScroll = true;
        //滚动条事件,触发时清空定时器
        window.onscroll = function () {
            if (!oScroll) {
                clearInterval(timer);
            }
            oScroll = false;
        }
        btn.onclick = function () {
            //加入定时器让他又快到慢滚动到顶部
            timer = setInterval(function () {
                //获取当前scrollTop的高度位置（兼容ie和chrom浏览器）
                var oTop = document.documentElement.scrollTop || document.body.scrollTop;
                //设置速度由快到慢
                var ispeed = Math.floor(-oTop / 7);
                document.documentElement.scrollTop = document.body.scrollTop = oTop + ispeed;
                oScroll = true;
                if (oTop == 0) {
                    clearInterval(timer);
                }
            }, 30);
        }
    }
</script>
<script>
    $(".item").each(function () {
        $(this).hover(function () {
            $(this).children().children("p").css("color", "#0080FF")
        }, function () {
            $(this).children().children("p").css("color", "#111111")
        })
    })
    $("li").each(function () {
        $(this).click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
            let id = $(this).attr("data-id")
            console.log(id);

            if (id == 1) {
                console.log(id);
                $(".content-first").show()
                $(".content-second").hide()
                $(".content-thrid").hide()
            } else if (id == 2) {
                console.log(id);
                $(".content-first").hide()
                $(".content-second").show()
                $(".content-thrid").hide()
            } else {
                console.log(id);
                $(".content-first").hide()
                $(".content-second").hide()
                $(".content-thrid").show()
            }

        })
    })
</script>

</html>