<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>高清录播系统</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/system.css">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        var pageWidth = window.innerWidth
        document.write('<style>html{font-size:' + pageWidth / 10 + 'px;}</style>')
    </script>
</head>
<style>
</style>

<body>
    <header id="topNavBar">
        <div class="logoWrap">
            <img src="../img/index/logo.png" alt="logo" class="logoImg fl">
            <img src="../img/index/more_menu_icon.png" alt="open" class="openNav fr">
            <img src="../img/index/shut_menu_icon.png" alt="close" class="closeNav fr">
        </div>
        <ul class="menu">
            <li class="item"><a class="link" href="./index.html">首页</a></li>
            <li class="item"><a class="link" href="./about.html">关于才宝</a></li>
            <li class="item active"><a class="link" href="./product.html">产品及解决方案</a></li>
            <li class="item"><a class="link" href="./case.html">典型案例</a></li>
            <li class="item"><a class="link" href="./cooperation.html">合作共赢</a></li>
            <li class="item"><a class="link" href="./download.html">在线下载</a></li>
        </ul>
    </header>
    <main>
        <div class="navWrap">
            <div class="titleWrap">
                <i></i>
                <p class="titleTag"></p>
                <i class="switch"></i>
            </div>
            <div class="systemNavWrap"> 
                <ul class="systemNav">
                    <li class="systemTag" id="systemTag1" data-id="1"> 全自动录播系统</li>
                    <li class="systemTag" id="systemTag2" data-id="2"> 自定义录课系统</li>
                    <li class="systemTag" id="systemTag3" data-id="3"> 同步课堂系统</li>
                    <li class="systemTag" id="systemTag4" data-id="4"> 直播课堂系统</li>
                    <li class="systemTag" id="systemTag5" data-id="5"> 校园电视台系统</li>
                    <li class="systemTag" id="systemTag6" data-id="6"> 视频会议系统</li>
                    <li class="systemTag" id="systemTag7" data-id="7"> 微课录制系统</li>
                </ul>
            </div>
        </div>

        <div class="contentWrap">
            <div class="content" id="system-1">
                <img class="bannerImg" src="../img/system/banner-01.png" alt="">
                <div class="title" id="title-1">全自动录播系统</div>
                <div class="text">
                    <p>
                        才宝全自动录播系统安装便捷，操作简单，实时采集教师、学生摄像机及VGA信号，后台静默编码生成视频文件，不影响正常的上课活动；系统支持三分屏自动录课模式，主画面镜头随师生活动情景实时跟踪、自动切换；亦可人工干预切换主画面或进行电影模式录制。保存的视频自带剪辑工具，可预览、剪辑，一站式完成，即录即传。
                    </p>
                    <p>
                        视频采用H.264编码方式，音频采用AAC高清编码方式。录制出的视频分辨率为1080P高清视频，视频帧率达到25帧/秒及以上，视频体积占用小，40分钟视频，占用大小控制在300MB以内。录制的视频，音画同步，流畅，不卡顿，系统可实现数字混音功能，支持多路通道混音输出，支持对各通道音频信号进行数字降噪处理，实现干净清晰的音频录制效果。该系统便于名师优课录制和优质资源共享。
                    </p>
                </div>
                <img class="mac" src="../img/system/system-01.png" alt="">
            </div>
            <div class="content" id="system-2">
                <img class="bannerImg" src="../img/system/banner-02.png" alt="">
                <div class="title" id="title-2">自定义录课系统</div>
                <div class="text">
                    <p>
                        才宝自定义录课系统可实时采集VGA、教师摄像机、学生摄像机信号进行编码，后台自动静默录制，不影响老师正常上课。支持多种画面录制模式：三分屏模式可实现课件、教师、学生自主轮播切换；电影模式可实现任一画面切换，任意录制，录制体积每节课小于300MB，即录即传，使用方便。该系统多用于教学反思、课堂研究、班级活动、专题讲座、节目演出等。
                    </p>
                </div>
                <img class="mac" src="../img/system/system-02.png" alt="">
            </div>
            <div class="content" id="system-3">
                <img class="bannerImg" src="../img/system/banner-03.png" alt="">
                <div class="title" id="title-3">同步课堂系统</div>
                <div class="text">
                    <p>
                        才宝自定义录课系统可实时采集VGA、教师摄像机、学生摄像机信号进行编码，后台自动静默录制，不影响老师正常上课。支持多种画面录制模式：三分屏模式可实现课件、教师、学生自主轮播切换；电影模式可实现任一画面切换，任意录制，录制体积每节课小于300MB，即录即传，使用方便。该系统多用于教学反思、课堂研究、班级活动、专题讲座、节目演出等。
                    </p>
                </div>
                <img src="../img/system/system-03.png" alt="">
            </div>
            <div class="content" id="system-4">
                <img class="bannerImg" src="../img/system/banner-04.png" alt="">
                <div class="title" id="title-4">直播课堂系统</div>
                <div class="text">
                    <p>
                        才宝同步课堂系统通过互联网，可与本区域网络教研中心、学校进行同步互动，主讲人跟远程学员实时问答，两端学员亦可在线交流讨论。实现了远程音视频交互的全过程录播，包括主讲端及听课端画面的录制和直播，利于优质资源的共享使用。教师可在主讲教室调入异地听课教室的画面实现音视频实时交流，并把交互的画面传送到其它听课教室。该系统多用于网络教研活动、名师送课下乡、联合办学互动、校内教师代课等。
                    </p>
                </div>
                <img src="../img/system/system-04.png" alt="">
            </div>
            <div class="content" id="system-5">
                <img class="bannerImg" src="../img/system/banner-05.png" alt="">
                <div class="title" id="title-5">校园电视台系统</div>
                <div class="text">
                    <p>
                        才宝全自动录播系统安装便捷，操作简单，实时采集教师、学生摄像机及VGA信号，后台静默编码生成视频文件，不影响正常的上课活动；系统支持三分屏自动录课模式，主画面镜头随师生活动情景实时跟踪、自动切换；亦可人工干预切换主画面或进行电影模式录制。保存的视频自带剪辑工具，可预览、剪辑，一站式完成，即录即传。
                    </p>
                    <p>
                        视频采用H.264编码方式，音频采用AAC高清编码方式。录制出的视频分辨率为1080P高清视频，视频帧率达到25帧/秒及以上，视频体积占用小，40分钟视频，占用大小控制在300MB以内。录制的视频，音画同步，流畅，不卡顿，系统可实现数字混音功能，支持多路通道混音输出，支持对各通道音频信号进行数字降噪处理，实现干净清晰的音频录制效果。该系统便于名师优课录制和优质资源共享。
                    </p>
                </div>
                <img src="../img/system/system-05.png" alt="">
            </div>
            <div class="content" id="system-6">
                <img class="bannerImg" src="../img/system/banner-06.png" alt="">
                <div class="title" id="title-6">视频会议系统</div>
                <div class="text">
                    <p>
                        才宝校园电视台系统可进行实际背景校园电台直播，可对现场、讲解内容遥控切换，无需他人导播，通过互联网，在学校平台、pc端、手机即可收看。该系统多用于空中课堂、培训讲座、专题报告、学校活动、家长会等活动。
                    </p>
                    <p>
                        直播课堂系统和校园电视台系统都采用了RTMP协议进行传输。该协议基于TCP，包括RTMP基本协议及RTMPT/RTMPS/RTMPE等多种变种。RTMP是一种设计用来进行实时数据通信的网络协议，主要用来在Flash/AIR平台和支持RTMP协议的流媒体/交互服务器之间进行音视频和数据通信。因为RTMP支持的很完善，所以能做到flash播放RTMP流长时间不断流。
                    </p>
                </div>
                <img class="mac" src="../img/system/system-06.png" alt="">
            </div>
            <div class="content" id="system-7">
                <img class="bannerImg" src="../img/system/banner-07.png" alt="">
                <div class="title" id="title-7">微课录制系统</div>
                <div class="text">
                    <p>
                        才宝微课录制系统安装简单，兼容性强，支持window7及以上所有操作系统，可录制本地一切音视频文件和现场实况，录制过程中可随时切换板书、实验操作、现场活动等，视频窗口任意拖动，可大可小可无，操作非常灵活，后台静默录制，一键结束，即刻预览录制效果。该系统教师自创微课堂、辅导课、精品课、系列课等精品课程。
                    </p>
                </div>
                <img src="../img/system/system-07.png" alt="">
            </div>
        </div>
    </main>
    <footer>
        <div class="companyInfo">
            <p></i> 全国统一客服热线</p>
            <p>0633-2296691</p>
            <p>客服QQ群：239442186</p>
            <p>（周一至周六 07：30-21：00）</p>
            <p>才宝· 中国分布城市</p>
            <p><i class="local"></i>中国 · 深圳 · 总部</p>
            <p>地址：深圳市福田区南园路68号上步大厦11楼B、C、D</p>
            <p><i class="local"></i>中国 · 山东· 分公司</p>
            <p>地址：山东省日照市东港区高新六路高新区创业中心1#研发楼12楼
            </p>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
    //打开关闭导航
    $(".openNav").click(function () {
        $(".openNav").hide(2500)
        $(".closeNav").show(2500)
        $(".menu").toggle(2500)
    });
    $(".closeNav").click(function () {
        $(".closeNav").hide(2500)
        $(".openNav").show(2500)
        $(".menu").toggle(2500)
    })
    $(".switch").click(function () {
        $(".systemNavWrap").toggle()
        if ($(".systemNavWrap").css("display") == "block") {
            $(".switch").css("background-image", "url('../img/system/关闭.png')")
        } else if($(".systemNavWrap").css("display") == "none"){
            $(".switch").css("background-image", "url('../img/system/选择.png')")
        }
    });
</script>
<script>
    //初始化获取锚点id
    window.onload = function () {
        var targetId = GetQueryString('targetid');
        changeCent(targetId);
        $('.systemTag').removeClass("active");
        $('#systemTag' + targetId).addClass("active");
        var titleTag = $('#title-' + targetId).text()
        $(".titleTag").text(titleTag)
    }
    //点击切换页面
    $(".systemTag").each(function () {
        $(this).click(function () {
            $(".systemNavWrap").hide()
            $(".switch").css("background-image", "url('../img/system/选择.png')")
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
            let id = $(this).attr("data-id")
            let tag = $(this).text()
            changeCent(id, tag);
        })
    })

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function changeCent(id, tag) {
        if (id == 1) {
            $("#system-1").show()
            $("#system-1").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 2) {
            $("#system-2").show()
            $("#system-2").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 3) {
            $("#system-3").show()
            $("#system-3").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 4) {
            $("#system-4").show()
            $("#system-4").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 5) {
            $("#system-5").show()
            $("#system-5").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 6) {
            $("#system-6").show()
            $("#system-6").siblings().hide()
            $(".titleTag").text(tag)
        } else if (id == 7) {
            $("#system-7").show()
            $("#system-7").siblings().hide()
            $(".titleTag").text(tag)
        }
    }
</script>
<script>


</script>

</html>